<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id"
          content="755781712254-6ovobkeglikdboh6ov0fuc5vgq5lfn5g.apps.googleusercontent.com">
    <title>User First</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-social.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel='shortcut icon' href='/img/favicon.ico' type='/img/x-icon'/ >
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,200,100,300,500,600,800,900' rel='stylesheet'
          type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,700italic,900,400italic,300italic'
          rel='stylesheet' type='text/css'/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
            $(window).load(function(){
                $("#menu").sticky({ topSpacing: 0 });
            });

    </script>
</head>

<body>
<div class="container-fluid">
    {% block content %}{% endblock %}'
</div>
</body>
</html>
