<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p><a href="https://docs.google.com/document/d/1a7rXH2urPpBSVegOOyQ-ATpBaEAardwlLHcJ8wpHC6s/edit#" target="_blank">FAQ</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="mailto:lnzz@yelp.com" target="_blank">Send us Feedback</a></p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h5><small>Made with love at <a href="https://twitter.com/hashtag/yelphackathon" target="_blank">#yelphackathon</a></small></h5>
            </div>
        </div>
    </div>
</section>