{% extends "base_template.html" %}
{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#"><img src="/img/yelp_ux_logo.jpg"
                width="100" /></a>
        </div>
        <div class="navbar-collapse collapse navbar-content">
            <div class="navbar-form navbar-right banner-text">
                <button class="btn btn-success navbar-button">Create New Test!</button>
                <span class="navbar-button"><img src="/img/bowtie_cat.jpeg" class="img-circle"
                    width="50px" /></span>
                <span><a href="#">Logout</a></span>
            </div>
        </div>
        </nav>
        {% block belowNavBar %}{% endblock %}
{% endblock %}
