{% extends "base_template.html" %}
{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#">Image goes here</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        
            <div class="navbar-form navbar-right banner-text">
                Test!
            </div>
        </div>
    </nav>
{% endblock %}
