<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="755781712254-6ovobkeglikdboh6ov0fuc5vgq5lfn5g.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
  <body>

    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.email }}
          {% if user and user.user_id() == greeting.author.identity %}
            (You)
          {% endif %}
        </b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content }}</blockquote>
    {% endfor %}

    <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <hr>

    <form>Guestbook name:
      <input value="{{ guestbook_name }}" name="guestbook_name">
      <input type="submit" value="switch">
    </form>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>

  </body>
</html>
{% endautoescape %}
