{% extends "base_template.html" %}
{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#"><img src="/img/yelp_ux_logo.jpg"
                                              width="100"/></a>
    </div>
    <div class="navbar-collapse collapse navbar-content">
        <div class="navbar-form navbar-right banner-text">
            <button class="btn btn-success navbar-button" onclick="location.href='/projects';" >Back to projects!
            </button>

                <span class="navbar-button"><img src="/img/bowtie_cat.jpeg" class="img-circle"
                                                 width="50px"/></span>

            <span><a href="#">Logout</a></span>
        </div>
    </div>
</nav>

{% block belowNavBar %}
<!-- Modal -->

<div class="gallery">
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                </div>
            </div>
        </div>
{% if project_details==None %}
        <div class="container">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <div class="service-box">
                        <h1 class="section-heading">EAT24 (THIS IS AN EXAMPLE)</h1>

                        <h2>Homepage wireframe prototype test</h2>
                        <br>

                        <p>Wednesday, November 23, 9am-10am</p>

                        <p>140 New Montgomery, 13 Floor Soccer Field</p>
                        <br>
                        <strong>Description</strong>

                        <p>Come test a new nav flow for ordering certain types of food in our app.</p>
                        <br>
                        <strong>Pre-reqs</strong>

                        <p>We are looking for EAT24 users that have placed at least two orders in the last two weeks to
                            test
                            a new flow for us.</p>
                    </div>
                </div>
                <div class="col-xs-6 text-left">
                    <div class="service-box">
                        <h3>Are you interested?</h3>
                        <button type="button" class="btn btn-primary btn-lg active">Participate</button>
                        <h3>2 Participating</h3>

                        <p>Jonathan Maltz</p>

                        <p>EAT24</p>

                        <p>Lindsay Liebson</p>

                        <p>Yelp Consumer</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
{% else %}
        <div class="container">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <div class="service-box">
                        <h1 class="section-heading">EAT24</h1>

                        <h2>{{ project_details.title }}</h2>
                        <br>

                        <p>{{ project_details.date }}</p>

                        <p>{{ project_details.location }}</p>
                        <br>
                        <strong>Description</strong>

                        <p>{{ project_details.description}}</p>
                        <br>
                        <strong>Pre-reqs</strong>

                        {% for attribute, value in attributes.iteritems() %}
                            <p>{{ attribute }} : {{value}}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xs-6 text-left">
                    <div class="service-box">
                        <h3>Are you interested?</h3>
                        <button type="button" class="btn btn-primary btn-lg active">Participate</button>
                        <h3>{{ participants|length }} Participating</h3>

                        {% for participant in participants %}
                            <p>{{ participant.first_name + " " + participant.last_name }}</p>
                            <p>{{ participant.team.type }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endif %}

</div>

<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <p><a href="https://docs.google.com/document/d/1a7rXH2urPpBSVegOOyQ-ATpBaEAardwlLHcJ8wpHC6s/edit#">FAQ
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <p><a href="mailto:your-email@your-domain.com">usability@yelp.com</a></p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>Made with love at Yelp Hackathon 2015</p>
            </div>
        </div>
    </div>
</section>


<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>-->

<!-- Custom Theme JavaScript
<script src="js/creative.js"></script>
-->

{% endblock %}
{% endblock %}
